@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Washington<br />
    Tacoma, WA 98402<br />
    <abbr title="Phone">P:</abbr>
    253.228.5805
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ao1013@uw.edu">ao1013@uw.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:ao1013@uw.edu">ao1013@uw.edu</a>
</address>