@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WoSo</h1>
    <p class="lead">WoSo is a interactive social media workout generator!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            WoSo gives you a helpful community that helps you get into living a healthy life style!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Workout Generator</h2>
        <p>Using our interactive and fun 3D workout explorer you can create custom workouts or using
         a unique and advanced system, have our servers generate one for you based on your needs!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track Progress</h2>
        <p>With a personal profile you can track your personal growth and progress as you journey through a new healthy life.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>